.side-bar
  .side-bar__Block
    .side-bar__Block__userbox
      %h3.side-bar__Block__userbox--namebox
        = current_user.name
      %ul.side-bar__Block__userbox--iconbox
        = link_to new_group_path, class: 'side-bar__Block__userbox--iconbox--pen' do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user), class: 'side-bar__Block__userbox--iconbox--sharin' do
          = icon('fas', 'cog')  
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
  
  
  
  
  
  -# .side-bar__list
  -#   - current_user.groups.each do |group|
  -#     .side-bar__list__groupbox
  -#       = link_to group_messages_path(group) do
  -#         .side-bar__list__groupbox--chat
  -#           = group.name
  -#         .side-bar__list__groupbox--latest-message
  -#           まだメッセージがありません